// colors (edit these to change the colors of parts of the site's design)
$body-bg-color: yellow;	// background color
$header-title-color: yellow;	// color of title of website
$header-bg-color: green;	// color of nav bar
$footer-color: white;	// color of footer icons
$post-title-color: black;	// color of post titles
$post-date-color: white;	// color of post dates
$page-title-color: white; // color of page titles

body{
	padding-top: 2em;}

.header .container {
  	padding-top: 1em;
		padding-bottom: 1em; // edit to move nav bar up or down
}

.landscape-container {
	background-color: blue;
}

.navbar-light .navbar-brand{
	color: $header-title-color;
		font-size: 4em;
}

.row{
	background-color:pink;
}

.navbar {
	background-color: #yellow;
}

.footer{
	padding-top: 4em;
}

.social-media-list li{
	display: inline;
	margin-right: 1em;
}

.svg-icon{
	fill: $footer-color;
	width: 1em;
}

.grid-square-cropped {
	height: 100%;
  object-fit: cover;
}

.grid-masonry {
	border: none;
	margin-top: 4em;
}

.image-container{
	display: inline-block;
	padding: 8em;
	width: 700px;
	height: 700px;
}


@media (min-width: 1200px){
	.image-container {
	  	height: 480px;
	  	width: 480px;
	  	overflow: hidden;
	}
}

.post-title{
	font-size: 1.5em;
	color: $post-title-color;

}

.post-date{
	font-size: 0.9em;
	color: $post-date-color;
}

.post-content{
	margin-top: 1em;
}

.post img{
	margin-top: 3em;
	padding-bottom: 0.5em;
}

.post-text-container{
	margin-top: 3em;
	padding: 1em;
	background-color: #fcfcfa;
	mix-blend-mode: normal;
}

.page-title{
	font-size: 4em;
	color: $page-title-color;
	margin-bottom: 0.5em;
}
