// colors (edit these to change the colors of parts of the site's design)
$body-bg-color: #e1f7e4;	// background color
$header-title-color: rgb(24, 77, 35);	// color of title of website
$header-bg-color: #e1f7e4;	// color of nav bar
$footer-color: #e1f7e4;	// color of footer icons
$post-title-color: black;	// color of post titles
$page-title-color: #e1f7e4; // color of page titles



.body {
	padding-top: 2em;
	color: #e1f7e4;
	}

	.header .container {
  	padding-top: 1em;
		padding-bottom: 2em; // edit to move nav bar up or down
		color: #e1f7e4
	}
.header {
	background-color: #e1f7e4;
	padding: 20px;
	text-align: center;

/* Style top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #e1f7e4;
  }

/* Navbar Vertical Test */   
.container {
	padding: 40px;
	margin: 15px;
}

.navbar-light .navbar-brand{
	color: $header-title-color;
		font-size: 4em;
}

.navbar {
	background-color: 225, 247, 228;
}
}
.footer{
	padding-top: 4em;
	background-color: #e1f7e4;
}

/* Grid images test 

.row{
	display: grid;
	grid-template-columns: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
	grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
}

/*.social-media-list li{
	display: inline;
	margin-right: 1em;
}

.svg-icon{
	fill: $footer-color;
	width: 1em;
}

.grid-square-cropped {
	height: 100%;
  object-fit: cover;
}

.grid-masonry {
	border: none;
	margin-top: 4em;
}

.image-container{
	display: inline-block;
	padding: 8em;
	width: 700px;
	height: 700px;
}


@media (min-width: 1200px){
	.image-container {
	  	height: 480px;
	  	width: 480px;
	  	overflow: hidden;
	}
}

.post-title{
	font-size: 1.5em;
	color: $post-title-color;

}

.post-date{
	font-size: 0.9em;
	color: $post-date-color;
}

	.post-content{
	margin-top: 1em;
	}		

	.post img{
	margin-top: 3em;
	padding-bottom: 0.5em;
	}

	.post-text-container{
	margin-top: 3em;
	padding: 1em;
	background-color: #e1f7e4;
	mix-blend-mode: normal;
	}	

	.page-title{
	font-size: 4em;
	color: $page-title-color;
	margin-bottom: 0.5em;
	}

}	*/

div.gallery {
  margin: 5px;
  border: 1px solid #e1f7e4;
  float: left;
  width: 280px;
}

div.gallery:hover {
  border: 40px solid #e1f7e4;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: center;
}

div.adriana {
	background-color: #e1f7e4;
}

